<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Streaming</title>
    <link rel="stylesheet" href="../static/cam.css">`
</head>
<body>

    <!-- <form action="{{ url_for('cam') }}" method="post">
        <input type="text" name="link">
    <input type="submit">
    </form> -->

    <!-- {{ % if response % }} -->
        <img id="vi" src="{{ url_for('cam') }}" alt="">
    <!-- {{ end if }} -->

    <!-- <script>
        var video = document.getElementById('video');
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
        });
        }
    </script> -->
</body>
</html>